
<script type='text/javascript'>

    $(function(){

        ReadData();
    });

    function ReadData() {

        var thisForm = $("form[name='thisForm']");
        var trs = thisForm.find("tbody").find("tr");
        trs.remove();

        $.ajax({
            type: 'GET',
            url: 'https://localhost:7123/api/Employ/Getdata',
            dataType: 'json',
            //cache: false,
            //data: { 'Name': name, 'Price': price },
            success: function (data) {
                var content = '';
                for (var x in data) {
                    content += "<tr>";
                    content += "<td><input type='hidden' name='id' value='"+ data[x].id + "' />";
                    content += "<input type='text' name='name' value='" + data[x].name + "' /></td>";

                    content += "<td><input type='text' name='dateOfBirth' value='" + data[x].dateOfBirthString + "' /></td>";
                    content += "<td><input type='number' name='salary' value='" + data[x].salary + "' /></td>";
                    content += "<td><input type='text' name='address' value='" + data[x].address + "' /></td>";
                    content += "</tr>";

                }

                $(".mainTable").find("tbody").append(content);
            },
            error: function (msg) {
                alert('something wrong');
            }

        });
    }

    function SaveData() {

        var thisForm = $("form[name='thisForm']");
        var trs = thisForm.find("tbody").find("tr");

        var count = 0
       
        var employs = new Array();
        trs.each(function () {
            
            var id = $(this).find("[name='id']").val();
            var name = $(this).find("[name='name']").val();
            var dateOfBirthString = $(this).find("[name='dateOfBirth']").val();
            var salary = $(this).find("[name='salary']").val();
            var address = $(this).find("[name='address']").val();

            console.log(dateOfBirthString);

            var employ = {};
            employ.id = id;
            employ.name = name;
            employ.dateOfBirth = dateOfBirthString;
            employ.salary = salary;
            employ.address = address;

            employs.push(employ);
        });

        var serializeValue = JSON.stringify(employs);

         $.ajax({
            type: 'POST',
            url: 'https://localhost:7123/api/Employ/SaveData',
            dataType: 'json',
            contentType: "application/json",

            data: serializeValue,
            success: function (data) {
                ReadData();
            },
            error: function (msg) {
                //alert(msg);
                console.log(msg);
            }
        });

    }

    function AddRow()
    {
        var sampleTr = $(".SampleTr").clone().removeAttr("style").removeClass("SampleTr");

        $(".mainTable").find("tbody").append(sampleTr);
    }
</script>


<h2>範例</h2>

<div>
    <form name="thisForm">
        <input type="button" name="btnUpdate" class="btn btn-primary" value="Update" onclick="ReadData()" />
        <input type="button" name="btnAdd" class="btn btn-info" value="Add" onclick="AddRow()" />
        <input type="button" name="btnSave" class="btn btn-danger" value="Save" onclick="SaveData()" />
        <table class="table table-striped jambo_table bulk_action mainTable">
            <thead>
                <tr style="display:none" class="SampleTr">
                    <td><input type="hidden" name="id" value="0" /><input type="text" name="name" /></td>
                    <td><input type="text" name="dateOfBirth" /></td>
                    <td><input type="number" name="salary" /></td>
                    <td><input type="text" name="address" /></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Birthday</td>
                    <td>Salary</td>
                    <td>Address</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>